<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="138"
    android:versionName="9.6e"
    android:compileSdkVersion="29"
    android:compileSdkVersionCodename="10"
    package="it.soes.gamobile.activity"
    platformBuildVersionCode="29"
    platformBuildVersionName="10">
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="29"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="it.soes.gamobile.activity.fileprovider.READ"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/app_icon"
        android:name="it.soesga.framework.inj.QuoteApplication"
        android:allowBackup="false"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:readPermission="it.soes.gamobile.activity.fileprovider.READ"
            android:exported="false"
            android:authorities="it.soes.gamobile.activity.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:label="Chiudi"
            android:name="it.soesga.client.form.activity.UncaughtErrorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name"
            android:name="it.soesga.client.form.activity.SoesGaMobileActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.LogActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.PreInvioActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.ConfermaOrdineServizio"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.MeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.TipoAccertamentoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.DataOraInfrazioneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.PaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.GrActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.InserimentoTargaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.VerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.ResultDt"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.FrontActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
            android:name="it.soesga.client.form.activity.InvRicServActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.TaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.MeUnoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.MockDataMatrix"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.AvvioVerbActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.StamEntroActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.StamNonOlActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.LocalitaInfrazioneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.BancheDatiActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.VeicoloActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.InfrazioniActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.StampaCompletaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.MotivoMCActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.AccertatoriAggiuntiviActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.Ver_h_Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.DichiarazioneTrasgressoreActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.ActivityDatiFigura"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.SanzioniAccessorieActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.MaggiorazioniActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.Ver_m_Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.Ver_n_Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.Ver_o_Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.Ver_p_Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.StatoAbbValidoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.ListaFigureActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.AllegaBollettinoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.LocalitaViaggioActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.CategoriaOggettoVerbaleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.OrdiniServizioActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="it.webutility.infrastructure.interfaces.GpsInterfaces"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="com.example.android.photobyintent.PhotoIntentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.VerbPreActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.ConfigurationSystemActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="com.zebra.connect.BluetoothDiscovery"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="com.zebra.connect.ConnectivityDemo"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.ConfParametriSistemaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.BenvActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.StAnnulloActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.ExitActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.liste.Listview3"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.liste.Listview4"
            android:screenOrientation="portrait"/>
        <service android:name="it.webutility.infrastructure.interfaces.GpsMonitor"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_segnalazioni"
            android:name="it.soesga.client.form.activity.NuovaComunicazioneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="it.soesga.client.form.activity.ComunicazioniActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/FullscreenTheme"
            android:label="@string/title_activity_lista_soste"
            android:name="it.soes.gamobile.activity.ListaSosteActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <meta-data
            android:name="android.support.VERSION"
            android:value="26.0.0"/>
        <activity
            android:theme="@style/zxing_CaptureTheme"
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>
</manifest>
